
@media screen and (min-width: 0px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: calc(100vh - 20px) ;
        width: 100vw;
        
    }
    body{
        height: 100vh;
        width: 100vw;
        background: linear-gradient(to bottom, var(--cor1), white);
        background-repeat: no-repeat;
        font-weight: 300;
        
    }
    .titulo{
        font-size: 1.5em;
        padding-top: 15px;
        padding-bottom: 15px;
          
    }
    .containerTitulo{
        
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding-bottom: 5px;
    }

    .Logo{
       max-width: 300px; 
       
    }
    .containerMaster{
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .container{
       max-width: 350px;
       display: flex;
       align-items: center;
       justify-content: flex-start;
       
       
      
    
    }
    .icone{
        margin-right: 20px;
        height: 1.5em;
    
    }

    .link{
        color: black;
        text-decoration: none;
    }
    .link:hover{
        color: var(--cor4);
        text-decoration: underline;
    }

    .rodape{
        display: flex;
        justify-content: center;
        background: #AA7C1B;
        width: 100vw;
        height: 20px;
        font-weight: 100;
    }
    
}

@media screen and (min-width: 600px){

    .Logo{
        width: 400px;
    }
    .titulo{
        font-size: 2em;
        padding: 15px;
        margin-top: 10px;
        
    }
}

@media screen and (min-width: 1000px){

    .titulo{
        font-size: 2.5em;
        
    }
}

    @media screen and (min-height: 0px) and (orientation: landscape){
        .Logo{
            width: 100px;
        }
        .titulo{
            font-size: 1.2em;       
        }
        .link{
           font-size: 0.9em ;
    }
    }
   @media screen and (min-height: 300px) and (orientation: landscape) {
    .Logo{
        width: 200px;
    }
    .titulo{
        font-size: 2em;  
    }
    .link{
        font-size: 1em;
       
   }
    }
   @media screen and (min-height: 600px) and (orientation: landscape){
    .Logo{
        width: 400px;
    }
    .titulo{
        font-size: 2em;       
    }
  
    }